<footer>
    <div class="footer-container">
        <section class="footer-about">
            <h3>About Us</h3>
            <p>We are committed to providing excellent experience across all types of blogs. Our goal is to help people express themselves in the digital world.</p>
        </section>

        <section class="footer-links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/privacyPolicy">Privacy Policy</a></li>
                <!-- <li><a href="#">Contact</a></li> -->
            </ul>
        </section>

        <section class="footer-contact">
            <h3>Contact Us</h3>
            <p>Email: <a href="mailto:tvoyluchshiydrug1@gmail.com">tvoyluchshiydrug1@gmail.com</a></p>
            <p>Phone: (+91) 000-000-0000</p>
            <p>Address: kalam hostel, Kamla Nehru Institute Of Technology, Sultanpur, India</p>
        </section>

        <section class="footer-social">
            <h3>Follow Us</h3>
            <ul>
                <li><a href="https://github.com/The-Wee-Lad/DumboBlogs">GitHub_Repo</a></li>
                <li><a href="#">Twitter - DISABLED</a></li>
                <li><a href="#">Instagram - DISABLED</a></li>
                <li><a href="#">LinkedIn - DISABLED</a></li>
            </ul>
        </section>
    </div>
    <div class="footer-bottom">
        <hr style="height: 0px;">
        <p>&copy; 2025 DumboBlogs. All rights reserved.</p>
        <p>Aditya Narayan</p>
    </div>