<nav class="navbar">
    <div class="logo-container">
        <a href="/"><img src="/images/elephant.png" alt="Logo" class="logo"></a>
        <a href="#" class="logo-text">DumboPosts</a>
    </div>
    <button class="menu-toggle" onclick="toggleMenu()">&#9776;</button>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/myBlogs">My Blogs</a>
        <a href="/about">About</a>
        <a href="/api/v1/user/login" class="login">Login</a>
        <a href="/api/v1/user/register" class="signup">Sign Up</a>
    </div>
</nav>
<script src="/scripts/navbar.js" defer></script>
