<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/stylesheets/AboutUs.css">
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <div class="container" style="min-height: 100vh;">
        <div class="wrapper">
            <div class="text-heading">
                <h1>AboutUs</h1>
            </div>
            <div class="text-content">
                This is a simple Platform to express oneself inform of Articles in MarkDown Format.
                </br>
                </br>
                MarkDown format is very easy to learn for a Person not at all familiar with MarkUp Languages.
                </br>
                </br>
                With the help of the Markdown, Users can post anything that they want from simple Text or with complex
                formatting including images.
                <hr>
                Articles have little to no content moderation in mind, meaning that users can go hog wild;
            </div>
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>