<!DOCTYPE html>
<html lang="en">
<head>   
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/stylesheets/Homepage.css">
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <div class="container" style="min-height: 100vh;">
    </div>
    <div class="createButton">
        <img src="/images/feather.png" alt="CreateButton" title="New Post">
    </div>
    <%- include("./partials/footer.ejs") %>
    <script src="/scripts/homepage.js" defer></script>
</body>
</html>