<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/stylesheets/userLogin.css">
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <div class="container" style="min-height: 100vh;">
        <div class = "wrapper">
            <div class = "image">
                <img src="/images/elephant.png" alt="Site Logo">
            </div>
            <div class = "heading">USER LOGIN</div>
            <div class = "message">Messages Here</div>
            <form class = "form" action = "/api/v1/user/login" method = "POST">
                <label for="usernameOrEmail">Username/Email</label>
                <input type="text" name="usernameOrEmail" id="usernameOrEmail" placeholder="Enter UserName or Email Here" required>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="password" required>
                <input type="button" name = "submit" id = "submit" value="Login">
            </form>
        </div>
    </div>
<%- include("./partials/footer.ejs") %>
    <script src="/scripts/userlogin.js" defer></script>
</body>
</html>