<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/stylesheets/userRegister.css">
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <div class="container" style="min-height: 100vh;">
        <div class = wrapper>
            <div class="heading">USER SIGNUP</div>
            <div class="Message"></div>
            <form action = '/api/v1/user/register' method="POST"> 
                <label for="username">Username</label>
                <input type="text" name = "username" id="username" required>
                <label for="email">Email</label>
                <input type="text" name = "email" id="email" required>
                <label for="password">Password</label>
                <input type="password" name = "password" id="password" required>
                <label for="confPassword">Confirm Password</label>
                <input type="password" name = "confPassword" id = "confPassword" required>
                <input type="submit" id="submit" value = "SIGN UP">
            </form>
            
        </div>
        <a class="loginMessage login" style="position:absolute; background-color: aqua;"  href="/api/v1/user/login" >Already a User? Click here to Login!!</a>
        <script defer>
            const setPos = (event) => {
                const tempdiv = document.querySelector(".loginMessage");
                tempdiv.style.left = document.querySelector(".wrapper").offsetLeft+(document.querySelector(".wrapper").offsetWidth-tempdiv.offsetWidth)/2+"px";
            }
            setPos();
            window.addEventListener("resize", setPos);
        </script>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script src="/scripts/register.js" type = "module" defer>

        
    </script>
</body>
</html>