<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/stylesheets/createArticle.css">
</head>
<body>
    <%- include("../partials/navbar.ejs") %>
    <div class = container>
        <span class= "heading"> <h1>New Article</h1> </span>
        <div class = "message">Messages Here</div>
        <%- include("../partials/form.ejs") %>
    </div> 
    <%- include("../partials/footer.ejs"); %>
    <script src="/scripts/createArticle.js"></script>
</body>
</html>