<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
        <link rel="stylesheet" href="/stylesheets/MyBlogs.css">
</head>

<body>
    <%- include("../partials/navbar.ejs") %>
        <div class="container">
            <div class="left-pane">
                <div class="filter">
                    <h3>Search Blogs</h3>

                    <!-- Blog Content Search -->
                    <div class="filter-section">
                        <label for="search-content">Search by Content:</label>
                        <input type="text" id="search-content" placeholder="Search articles...">
                    </div>

                    <!-- Author Search -->
                    <div class="filter-section">
                        <label for="search-author">Search by Author:</label>
                        <input type="text" id="search-author" placeholder="Search author...">
                        <div id="author-suggestions"></div>
                    </div>

                    <!-- Selected Authors -->
                    <div id="selected-authors"></div>

                    <!-- tagsearch -->
                    <div class="filter-section">
                        <label for="search-tag">Search by Tags:</label>
                        <input type="text" id="search-tag" placeholder="Search tag...">
                        <div id="tag-suggestions"></div>
                    </div>

                    <!-- Selected Tags -->
                    <div id="selected-tags"></div>
                </div>
            </div>
            <div class="right-pane">
                <div class="heading">
                    <h1>My Blogs</h1>
                </div>
                <div class = "blogs">
                    <template id="blogTemplate">
                        <div class="blog-card">
                            <div class="blog-header">
                                <h2 class="blog-title"></h2>
                                <span class="blog-status"></span>
                            </div>
                            <p class="blog-description"></p>
                            <div class="blog-footer">
                                <span class="blog-author"></span>
                                <span class="blog-date"></span>
                            </div>
                        </div>
                    </template>
                </div>
                
                
            </div>

        </div>
        <div class="createButton">
            <img src="/images/feather.png" alt="CreateButton" title="New Post">
        </div>
        <%- include("../partials/footer.ejs") %>
            <script src="/scripts/MyBlogs.js" defer></script>
</body>

</html>