<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs")%>
    
</head>
<body>
    <%- inlclude("../partials/navbar.ejs");%>
    lol biatch!!
    <%- include("../partials/footer.ejs");%>
</body>
</html>